@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
@model KioskManagementApp.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Đăng nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-primary bg-gradient">
    @ViewBag.error
    <div class="d-flex flex-column min-vh-100">
        <div class="flex-grow-1 min-vw-0">
            <main>
                <div class="container-fluid">
                    <div class="row  justify-content-center ">
                        <div class="col-md-4">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light">Đăng nhập</h3>
                                </div>

                                <div class="card-body">
                                    <p>@ViewBag.Error</p>
                                    @using (Html.BeginForm("Login", "Admin"))
                                    {
                                        
                                        @Html.AntiForgeryToken()
                                <div class="form-floating mb-3 has-validation">


                                    @Html.TextBoxFor(x => x.Username, new
                               {
                                   @class = "form-control",
                                   @placeholder = "Nhập tên đăng nhập"

                               })
                                    @Html.LabelFor(x => x.Username, "Tên đăng nhập")
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "invalid-feedback" })
                                </div>
                                <div class="form-floating mb-3 has-validation">

                                    @Html.PasswordFor(x => x.Password, new
                               {
                                   @class = "form-control",
                                   @placeholder = "Nhập mật khẩu"
                               })
                                    @Html.LabelFor(x => x.Password, "Mật khẩu")
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "invalid-feedback" })
                                </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <div><input class="btn btn-primary"type="submit" value="Đăng nhập" /></div>
                                        </div>
                                    }
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="glyphicon-copyright-mark text-center my-auto">
                        <span class="text-muted ">Copyright &copy; Quản lý Kiosk - Đoàn Hoàng Long - 11183028</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>